body {
	font-family: 'Kelly Slab';
	font-size: 16px;
}

p {
	text-align: right;
}

button {
	font-family: inherit;
	color: rgb(20,20,20);
	background-color: rgb(220,220,220);
	width: 90px;
	height: 90px;
	margin: 2.5px 0px;
	padding: 0px;
	border: 2px solid rgb(130,130,130);
	border-radius: 10px;
}

.screen {
	width: 80%;
	height: 150px;
	margin: 0px;
	padding: 10%;
/*	border: 1px solid rgb(130,130,130);*/
/*	border-radius: 15px;*/
}

.operator {
	font-size: 4em;
	font-weight: bold;
}

.numeric {
	font-family: 'UnifrakturCook';
	font-size: 3.8em;
	font-weight: bold;
	height: 110px;
	border-radius: 50% 50% 10% 10%;
}

.setting {
	font-size: 1.8em;
}

#wrapper {
	width: 500px;
	height: auto;
	margin: 100px auto;
	border: 3px solid darkgray;
}

#log {
/*	width: 100%;
	height: 200px;
*/	background: darkgray;
}

#display {
	width: 100%;
	height: 200px;
	background: gray;
	color: black;
	font-size: 4em;
}

#keypad {
/*	width: 100%;
*/	padding: 0px;
	background: darkGray;
}

#clear {

}

#reset {

}

#equals {

}




